body{
  margin: 0;
  text-align: center;
font-family: 'Merienda', cursive;

}

p{
  font-size: 150%;
}

h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 350%;
}

hr {
  border-style:none;
  border-top-style: dotted;
  border-color: #aa8976;
  border-width: 5px;
  width: 10%;
  margin: 100px auto;
}

h2{
  padding-bottom: 10px;
}

span{
  text-decoration: underline;

}

p{
  line-height: 2;
}

.top-container{
background-color: #fcf7bb;

}

.birds{

  height: 1%;
  width: 20%;

}

.tree{
  height: 15%;
  width: 35%;
}



.middle-container{
padding-top: 5%;

}

.bottom-container{

  margin-top: 30px;
  background-color: #fcf7bb;
}

.myskills{
  color: #810000;
  font-family: 'Acme', sans-serif;
}

h2{
color: #1f6f8b;
font-family: 'Acme', sans-serif;

}

.skill-show{

  font-family: 'Acme', sans-serif;

}

.skill-row{
  width: 70%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.art-title{
color: #1f6f8b;
font-family: 'Acme', sans-serif;
}

.art-discription{

  font-family: 'Acme', sans-serif;



}



.skill-gif{
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 30px;

}

.art{
  width: 275px;
  height: 275px;
float: right;
margin-left: 30px;
}

.self{
color: #810000;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
}

.self-discription{
  color: #1f6f8b;
  font-family: 'Dancing Script', cursive;
  width: 70%;
  margin: auto;
  font-size: 30px;

}

.contact-me{
  color: #810000;
  font-family: 'Acme', sans-serif;
}

.connect{
    font-family: 'Sacramento', cursive;
    font-size: 40px;
}

.end{
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    padding: 20px 0;
}

a{
  margin: 10px 20px;
}

.btn {
  background: #910000;
  background-image: -webkit-linear-gradient(top, #910000, #ebaa28);
  background-image: -moz-linear-gradient(top, #910000, #ebaa28);
  background-image: -ms-linear-gradient(top, #910000, #ebaa28);
  background-image: -o-linear-gradient(top, #910000, #ebaa28);
  background-image: linear-gradient(to bottom, #910000, #ebaa28);
  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  border-radius: 38px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  font-family: Georgia;
  color: white;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fce23c;
  background-image: -webkit-linear-gradient(top, #fce23c, #d9aa34);
  background-image: -moz-linear-gradient(top, #fce23c, #d9aa34);
  background-image: -ms-linear-gradient(top, #fce23c, #d9aa34);
  background-image: -o-linear-gradient(top, #fce23c, #d9aa34);
  background-image: linear-gradient(to bottom, #fce23c, #d9aa34);
  text-decoration: none;
}
